<div class="form">
  <div style="text-align:center">
    <h1>
      Registration Form
    </h1>
  </div>
  <app-form-root [fields]="regConfig" (submit)="submit($event)" >
    <div class="actions">
      <button type="submit"
              [disabled]="form.invalid"
              mat-raised-button color="primary">Submit Button</button>
    </div>

  </app-form-root>

  <!--<div *ngIf="form" class="margin-top">-->
    <!--{{ form.value | json }}-->
  <!--</div>-->
</div>

<div>

  <div [formGroup]="formArray" (submit)="submit(formArray.value)">

    <div formArrayName="phones"
         *ngFor="let item of formArray.get('phones').controls; let i = index;"
    >
      <div [formGroupName]="i">
        <input type="text" [formControlName]="'phone'" placeholder="phone">
        <button type="button" (click)="deleteItem(i)">remove control</button>
      </div>

    </div>
    <button type="button" (click)="submit(formArray.value)" >submit form array</button>
  </div>



  <!--<div formArrayName="items"-->
       <!--*ngFor="let item of orderForm.get('items').controls; let i = index;">-->
    <!--<div [formGroupName]="i">-->
      <!--<input formControlName="name" placeholder="Item name">-->
      <!--<input formControlName="description" placeholder="Item description">-->
      <!--<input formControlName="price" placeholder="Item price">-->
    <!--</div>-->

    <!--Chosen name: {{ orderForm.controls.items.controls[i].controls.name.value }}-->
  <!--</div>-->



  <button type="button" (click)="addItem()">add item</button>


</div>


<div #alertContainer></div>
<button (click)="createComponent('success')">Create success alert</button>
<button (click)="createComponent('danger')">Create danger alert</button>
<button (click)="clear()">Clear</button>

<br>
<button (click)="openDialog()">Open dialog</button>
<button (click)="closedDialog()">Closed dialog</button>
